pandas==2.2.2
numpy==1.26.4
scikit-learn>=1.4.0,<1.6.0  # Allow a range to find compatible wheels
jupyter==1.0.0
fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.7.1
docker==7.1.0
matplotlib==3.9.0
seaborn==0.13.2
pytest==8.2.0
flake8==7.0.0
mlflow==2.17.0
fastapi==0.111.0
uvicorn==0.30.0